<section class="section-name padding-y-sm">
    <div class="container">
    <header class="section-heading">
        <h1 class="section-title"><i class="fa fa-heart" style="font-size: 35px; color: #E26767; margin-right: 10px;"></i>Lista de deseos</h1>
    </header><!-- sect-heading -->
    <div class="row">
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3 mt-3">
        <div class="card card-product">
          <div class="card-sl">
            <div class="card-image">
              <a routerLink="/product" class="img-wrap"><img src="assets/images/items/10.jpg" /></a>
            </div>
            <figcaption class="info-wrap">
              <div class="card-heading">
                <a routerLink="/product" class="title" style=" text-decoration: none;"><p >Trapero con balde secador</p></a>
              </div>
              <div class="card-text">
                  $30.000
              </div>
              <a href="#" class="card-button"><i class="fa fa-shopping-cart mt-1 me-2"></i> Añadir al carrito</a>
            </figcaption>
          </div>
        </div>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    </div><!-- container // -->
    </section>


