<section class="shopping-cart dark">
    <div class="container">
       <div class="block-heading">
       </div>
       <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="items">
                        <div class="product">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image ms-3" src="https://res.cloudinary.com/dmazhveet/image/upload/v1668443039/product-images/71hE5Z0J0-L_jjtjbr.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-5 product-name">
                                                <div class="product-name">
                                                    <a routerLink="/product" style="color: black; margin-left: 12px; font-size: 17px;">Trapero con balde secador</a>
                                                    <div class="product-info">
                                                        <div style="color: #307243; margin-left: 12px;">En Stock</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                                <label for="quantity">Quantity:</label>
                                                <input class="quantity ms-2" id="id_form-0-quantity" min="1" max= "20" name="form-0-quantity" value="1" type="number">
                                            </div>
                                            <div class="col-md-3 price">
                                                <span>$30.000</span>
                                            </div>
                                        </div>
                                        <div style="display: flex;" class="save">
                                            <a routerLink="/wishlist"><p class="mt-4"><a class="icon icon-sm mt-1"><i class="fa fa-heart"></i></a>Guardar</p></a>
                                            <h4 style="margin-top: 40px; margin-left: 10px;">|</h4>
                                            <a routerLink="#"><p class="mt-4"><a class="icon icon-sm mt-1"><i class="fa fa-trash"></i></a>Eliminar</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image ms-3" src="https://res.cloudinary.com/dmazhveet/image/upload/v1668443039/product-images/71hE5Z0J0-L_jjtjbr.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-5 product-name">
                                                <div class="product-name">
                                                    <a routerLink="/product" style="color: black; margin-left: 12px; font-size: 17px;">Trapero con balde secador</a>
                                                    <div class="product-info">
                                                        <div style="color: #307243; margin-left: 12px;">En Stock</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                                <label for="quantity">Quantity:</label>
                                                <input class="quantity ms-2" id="id_form-0-quantity" min="1" max= "20" name="form-0-quantity" value="1" type="number">
                                            </div>
                                            <div class="col-md-3 price">
                                                <span>$30.000</span>
                                            </div>
                                        </div>
                                        <div style="display: flex;" class="save">
                                            <a routerLink="/wishlist"><p class="mt-4"><a class="icon icon-sm mt-1"><i class="fa fa-heart"></i></a>Guardar</p></a>
                                            <h4 style="margin-top: 40px; margin-left: 10px;">|</h4>
                                            <a routerLink="#"><p class="mt-4"><a class="icon icon-sm mt-1"><i class="fa fa-trash"></i></a>Eliminar</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image ms-3" src="https://res.cloudinary.com/dmazhveet/image/upload/v1668443039/product-images/71hE5Z0J0-L_jjtjbr.jpg">
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-5 product-name">
                                                <div class="product-name">
                                                    <a routerLink="/product" style="color: black; margin-left: 12px; font-size: 17px;">Trapero con balde secador</a>
                                                    <div class="product-info">
                                                        <div style="color: #E26767; margin-left: 12px;">Sin Stock</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                                <label for="quantity">Quantity:</label>
                                                <input class="quantity ms-2" id="id_form-0-quantity" min="1" max= "20" name="form-0-quantity" value="1" type="number">
                                            </div>
                                            <div class="col-md-3 price">
                                                <span>$30.000</span>
                                            </div>
                                        </div>
                                        <div style="display: flex;" class="save">
                                            <a routerLink="/wishlist"><p class="mt-4"><a class="icon icon-sm mt-1"><i class="fa fa-heart"></i></a>Guardar</p></a>
                                            <h4 style="margin-top: 40px; margin-left: 10px;">|</h4>
                                            <a routerLink="#"><p class="mt-4"><a class="icon icon-sm mt-1"><i class="fa fa-trash"></i></a>Eliminar</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="summary">
                        <h3>Resumen de la compra</h3>
                        <div class="summary-item"><span class="text">Subtotal</span><span class="price">$90.000</span></div>
                        <div class="summary-item"><span class="text">Descuento</span><span class="price">$10.000</span></div>
                        <div class="summary-item mt-4"><span class="text">Total</span><span class="price">$80.000</span></div>
                        <div class="me-2 text-center">
                            <button type="button" class="btn btn-success mt-4 ms-2" style="padding-left: 4.5rem; padding-right: 4rem; padding-top: 0.5rem; padding-bottom: 0.5rem;">Proceder a pagar</button>
                            <button routerLink="/" type="button" class="btn btn-outline-success mt-4 ms-2" style="padding-left: 3.8rem; padding-right: 4.2rem; padding-top: 0.5rem; padding-bottom: 0.5rem;">Seguir comprando</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
